{erl_opts, [debug_info]}.
{plugins, [rebar_mix]}.
{provider_hooks, [{post, [{compile, {mix, consolidate_protocols}}]}]}.
{deps, [
   {cowboy, "2.8.0"}
  ,{jsone, "1.5.5"}
  ,{gpio, {git, "https://github.com/paoloo/gpio", {ref, "9363813"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [gpio_control]}
]}.
